/* Styles for the navigation bar */
.navbar {
  background-color: #f0f0f0; /* Light gray background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Style for the title */
.navbar-title {
  font-size: 24px;
  font-weight: bold;
}

/* Style for the navigation links */
.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: black
}

/* Style for each individual link */
.navbar-links li {
  margin-left: 20px;
}
