<app-nav></app-nav>

<br>

<div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <label for="index">Enter your index:</label>
    <input [value]="data.state.index" type="text" id="index" name="index" formControlName="index" required>

    <button type="submit">Submit</button>
  </form>


  <h3>Indexes I have seen:</h3>
  <ul id="seenIndexes">
    <!-- List items will be dynamically added here -->
  </ul>

  <h3>Calculated Values:</h3>
  <ul id="calculatedValues">
    <!-- List items will be dynamically added here -->
  </ul>
</div>
